        <a name="top"></a>
        <div class="page-wrapper">
        <!-- header-1 -->
        <header class="header-1">
            <div class="container">
                <div class="row">
                    <div class="navbar col-sm-12 navbar-fixed-top" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"></button>
                            <a class="brand" href="#"><%= image_tag("logo@2x.png", width: "50", height: "50") %>Infinity Talents</a>
                        </div>
                        
                        <div class="navbar-collapse collapse">
                            <ul class="nav pull-right">
                                <li>
                                    <a href="#top">HOME</a>
                                </li>
                                <!--
                                <li>
                                    <a href="#">PORTFOLIO</a>
                                </li>
                            -->
                                <li>
                                    <a href="#truth">ABOUT</a>
                                </li>
                                <li>
                                    <a href="#contact">CONTACT</a>
                                </li>
                            </ul>
                            <ul class="subnav">
                                <li>
                                    <a href="#">Privacy&Terms</a>
                                </li>
                                <li>
                                    <a href="#">Newsletter</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="header-1-sub">
            <div id="pt-main" class="page-transitions pt-perspective">
                <div class="pt-page pt-page-1">
                    <div class="background">
                        &nbsp;
                    </div>
                    <div class="caption">
                        <div class="container">
                            <h3>Finding the right talents for your venture is tough.<br />
                            </h3>
                            <p class="lead">
                                we are seasoned co-founders, we have built teams ourselves, <br/>and we understand whom you need.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!-- content-25  -->
        <a name="truth"></a>
        <section class="content-25">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>You know it's true...</h3>

                        <p>
                            <strong>Xing</strong> and <strong>Linkedin are almost dead</strong>,<br/> <strong>A-players</strong> are <strong>turned off by recruiting agencies</strong>, and <br/><strong>you hired your best people through your own network</strong>.
                        </p>
						<p>
                            <strong>Job portals suck</strong>, because you receive B-player CVs, have lots of work and their pricing is bananas for the value you get.
						</p>
						<p>
                            <strong>You need the right talents now</strong> to scale your venture and <br/>don't want to defocus by searching for Mr./Mrs. Right for months?
                        </p>                       
                    </div>
                    <div class="col-sm-6">
                        <%= image_tag("rocket-big-grey-bg@2x.png", width: "402", height: "401") %>
                        
                
                    </div>
                </div>
            </div>
        </section>

        <!-- content-4  -->
        <section class="content-4 bg-clouds">
            <div class="container">
                <h3>Why should you care about us?</h3>
                <div class="row features">

                    <div class="col-sm-4">
                        <%= image_tag("box@2x.png", width: "176", height: "127", style: "left: -75px;") %>
                        <h6>Founders-at-work.</h6>
                        <p>
                            A-players speak to founders not recruiters.<br/>We search solely network based.
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <%= image_tag("rocket@2x.png", width: "101", height: "101") %>
 
                        <h6>Save Your Time.</h6>
                        <p>
                            From understanding whom you need to final placement, we do the work.
                        </p>
                    </div>
                     <div class="col-sm-4">
                        <%= image_tag("retina@2x.png", width: "117", height: "104") %>                 
                        <h6>Solid track record.</h6>
                        <p>
                            If you are happy, we are happy. <br />Contact us for references, we respect privacy.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        
      <!-- content-36 -->
      <a name="contact"></a>
      <section class="content-36">
        <div class="container">
          <h2>We’ve created the ideal service for you<br/>to find the right talents.</h2>
          <a class="btn btn-success" href="mailto:infinity-talents@warp-internet.com">Contact us now</a>
          <p></p>
        </div>
      </section>

 <!-- contacts-4 -->
      <section class="contacts-4">
        <div class="container">
          <div class="content">
            <div class="social-btns">
              <a href="#">
                <div class="fui-twitter"></div>
                <div class="fui-twitter"></div>
              </a>
              <a href="#">
                <div class="fui-facebook"></div>
                <div class="fui-facebook"></div>
              </a>
              <a href="#">
                <div class="fui-vimeo"></div>
                <div class="fui-vimeo"></div>
              </a>
            </div>
            <!--<h3>Get in touch with us</h3>-->
            <p>Impressum
              <br class="hidden-phone">Mondstein 284 GmbH, Barer Str. 50, 80799 München</p>
            <!--
            <div class="links">
              <a href="mailto:infinity-talents@warp-internet.com">infinity-talents@warp-internet.com</a>
            </div>
        -->
          </div>
        </div>
      </section>